:root {
    --linnebot: #5f9ea0;
    --linneb: #b0b4fc;
    --background: #151515;
    --light-background: #252525;
    --light-white: #eee;
    --link-color: #7af;
    --link-hover: #37c;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    color: var(--light-white);
    font-family: sans-serif;
    font-size: 110%;
}

body a {
    color: var(--link-color);
}

body a:hover {
    color: var(--link-hover);
}

body p, h1, h2, h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

body table, img {
    box-shadow: 0px 0px 20px 5px #111;
}

#main {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#main div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title h1 {
    color: var(--linnebot);
}

#links a {
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--light-white);
    background-color: var(--light-background);
    text-decoration: none;
}

#links a:hover {
    transition: 0.1s;
    box-shadow: 0px 0px 10px 0px var(--link-hover);
}

#commands table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 20px;
}

#commands td {
    background-color: var(--light-background);
}

#commands th,
td {
    border: 1px solid var(--light-white);
    padding: 10px;
    text-align: center;
}

#commands p {
    text-align: left;
}

#cat {
    align-self: center;
    width: min-content;
}

#command {
    max-width: 50%;
}

#usage {
    display: flex;
}

#usage p {
    margin: 0;
    margin-left: 5px;
    background-color: var(--background);
}

.example {
    border: 1px solid var(--light-white);
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--light-background);
    box-shadow: 0px 0px 20px 5px #111;
}

.example-command {
    color: var(--linneb);
}

.example-response {
    color: var(--linnebot);
}
